.mod_kanban_board.row {
    flex-wrap: nowrap;
}

.mod_kanban_board * {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mod_kanban_addcard_container.row {
    position: absolute;
    z-index: 2;
    height: 10px;
    width: 100%;
    border-radius: .5rem;
    margin: 0;
}

.mod_kanban_addcard_container.row * {
    opacity: 0;
    background-color: lightgray;
}

.mod_kanban_addcard.btn,
.mod_kanban_addcolumn.btn {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 32px;
    height: 32px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.mod_kanban_addcard_container:hover,
.mod_kanban_addcard_container:focus,
.mod_kanban_addcard_container:focus-within,
.dragover > .mod_kanban_addcard_container,
.mod_kanban_addcard_container.mod_kanban_insert,
.mod_kanban_addcolumn_container:hover,
.mod_kanban_addcolumn_container:focus,
.mod_kanban_addcolumn_container:focus-within,
.mod_kanban_addcolumn_container.mod_kanban_insert {
    background-color: darkgray;
}

.mod_kanban_card .card-body:hover,
.mod_kanban_card .card-body:focus {
    background-color: lightgray;
}

.mod_kanban_addcolumn_container.col:not(:first-child) {
    right: -10px;
}

.mod_kanban_addcolumn_container.col:first-child {
    position: relative;
    left: 0;
    top: 0;
}

.mod_kanban_addcolumn_container.col:first-child:not(:hover):not(:focus):not(:focus-within) * {
    animation: 20s infinite alternate blink;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mod_kanban_addcolumn_container.col {
    list-style: none;
    max-width: 10px;
    padding: 0;
    z-index: 2;
    border-radius: .5rem;
    position: absolute;
    min-height: 100px;
    height: 100%;
}

.mod_kanban_addcolumn_container.col * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    opacity: 0;
    transition: opacity 0.1s;
}

.mod_kanban_addcolumn_container:hover *,
.mod_kanban_addcolumn_container:focus *,
.mod_kanban_addcolumn_container:focus-within *,
.mod_kanban_addcard_container:hover *,
.mod_kanban_addcard_container:focus *,
.mod_kanban_addcard_container:focus-within * {
    animation: none;
    opacity: 1;
}

.mod_kanban_addcard_container.mod_kanban_insert {
    animation: none;
    opacity: 1;
}

.mod_kanban_column.card {
    min-width: 20rem;
    max-width: 20rem;
    margin: 3px;
}

.mod_kanban_card.card {
    margin-bottom: 10px;
    width: 18rem;
    transition: margin 0.5s;
}

.mod_kanban_card > .mod_kanban_addcard_container.row {
    bottom: -11px;
}

.mod_kanban_column > .mod_kanban_addcard_container.row {
    position: relative;
}

.mod_kanban_render_container > .mod_kanban_addcolumn_container {
    position: relative;
}

.mod_kanban_card:not(.dragging):hover *,
.mod_kanban_card:not(.dragging):focus *,
.mod_kanban_card:not(.dragging):focus-within *,
.mod_kanban_column:not(.dragging):hover > *,
.mod_kanban_column:not(.dragging):focus > *,
.mod_kanban_column:not(.dragging):focus-within > * {
    opacity: 1;
}

.mod_kanban_render_container.container {
    overflow-x: auto;
    overflow-y: visible;
    min-height: 300px;
    max-width: none;
}

.mod_kanban_action_menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mod_kanban_action_menu span i {
    transform: translateY(50%);
}

.mod_kanban_card_title input,
.mod_kanban_column_title input {
    max-width: 100%;
    z-index: 3;
    height: 1.7rem;
    padding: 0;
    border-width: 0;
    border-style: none;
}

.mod_kanban_card_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mod_kanban_assignees .mod_kanban_assigned_user:hover .mod_kanban_unassign,
.mod_kanban_assignees .mod_kanban_assigned_user:focus .mod_kanban_unassign {
    opacity: 1;
}

.mod_kanban_assignees .mod_kanban_assigned_user:hover,
.mod_kanban_assignees .mod_kanban_assigned_user:focus {
    z-index: 4;
}

.mod_kanban_unassign {
    position: relative;
    width: 16px;
    right: 0;
    bottom: 10px;
    opacity: 0;
    background-color: darkgray;
    border-radius: 100%;
    height: 16px;
}

.mod_kanban_unassign i {
    transform: scale(.5, .5);
}

.mod_kanban_assigned_user:not(:first-of-type) {
    position: relative;
    margin-left: -20px;
}

.mod_kanban_addcolumn_first {
    list-style: none;
    width: 10px;
}

.mod_kanban_addcard_first {
    list-style: none;
    height: 10px;
    width: 18rem;
    position: relative;
}

.mod_kanban_column.card.mod_kanban_dropzone,
.mod_kanban_card.card.mod_kanban_dropzone {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}

.mod_kanban_render_container .quickediticon.visibleifjs {
    display: none;
}

.mod_kanban_render_container .inplaceeditable .quickeditlink {
    text-decoration: none;
    box-shadow: none;
}

.mod_kanban_hidden {
    visibility: hidden;
}

.mod_kanban_column_title {
    margin-top: .5rem;
    overflow-x: hidden;
    overflow-y: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
}

:not([data-action="unassign_user"]) > .mod_kanban_unassign {
    display: none;
}

.mod_kanban_action_menu_trigger.dropdown-toggle::after {
    content: none;
}