{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kanban/actionmenucolumn

    Template for the action menu for columns.

    Example context (json):
    {
        "id": 4,
        "title": "Todo",
        "managecolumns": true,
        "locked": false
    }
}}
<div class="mod_kanban_action_menu{{^managecolumns}} hidden{{/managecolumns}}">
    <button class="mod_kanban_action_menu_trigger btn btn-icon icon-no-margin p-0 dropdown-toggle" data-toggle="dropdown">{{#pix}} i/menu, core, {{#str}} editcolumn, mod_kanban {{/str}} {{/pix}}</button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="nav-item mod_kanban_delete_column">
            <a class="dropdown-item" href="#" data-action="delete_column" data-id="{{id}}">{{#pix}} t/delete, core, {{#str}} delete, core {{/str}} {{/pix}}{{#str}} delete, core {{/str}}</a>
        </li>
        <li class="nav-item mod_kanban_lock_column">
            <a class="dropdown-item" href="#" data-action="lock_column" data-id="{{id}}">{{#pix}} t/lock, core, {{#str}} lock, mod_kanban {{/str}} {{/pix}}{{#str}} lock, mod_kanban {{/str}}</a>
        </li>
        <li class="nav-item mod_kanban_unlock_column">
            <a class="dropdown-item" href="#" data-action="unlock_column" data-id="{{id}}">{{#pix}} t/unlock, core, {{#str}} unlock, mod_kanban {{/str}} {{/pix}}{{#str}} unlock, mod_kanban {{/str}}</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" href="#" data-action="edit_details" data-id="{{id}}">{{#pix}} t/edit, core, {{#str}} editdetails, mod_kanban {{/str}} {{/pix}}{{#str}} editdetails, mod_kanban {{/str}}</a>
        </li>
    </ul>
</div>
