{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kanban/addcard

    Template for the whole kanban board.

    Example context (json):
    {
        "id": 7,
        "kanban_column": 4,
        "addcard": true
    }
}}
<div class="mod_kanban_addcard_container row" data-id="{{^kanban_column}}0{{/kanban_column}}{{#kanban_column}}{{id}}{{/kanban_column}}">
    <button class="mod_kanban_addcard btn btn-icon icon-no-margin p-0{{^addcard}} hidden{{/addcard}}" id="mod_kanban_addcard_{{id}}" data-action="add_card" data-columnid="{{#kanban_column}}{{kanban_column}}{{/kanban_column}}{{^kanban_column}}{{id}}{{/kanban_column}}" data-id="{{id}}">{{#pix}} t/add, core, {{#str}} addcard, mod_kanban {{/str}} {{/pix}}</button>
</div>