{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kanban/card

    Template for a card in the kanban board.

    Example context (json):
    {
        "id": 4,
        "kanban_column": 1,
        "title": "Task",
        "hasassignees": false,
        "completed": true,
        "canedit": true,
        "duedate": 123456778
    }
}}
<li style="{{#background}}background-color: {{background}}{{/background}}" class="mod_kanban_card card{{#completed}} mod_kanban_closed{{/completed}} {{^hasassignees}}mod_kanban_unassigned{{/hasassignees}} {{#hasdescription}}mod_kanban_hasdescription{{/hasdescription}} {{#hasattachment}}mod_kanban_hasattachment{{/hasattachment}} {{#hasdiscussion}}mod_kanban_hasdiscussion{{/hasdiscussion}} {{#selfassigned}}mod_kanban_selfassigned{{/selfassigned}} {{#discussion}}mod_kanban_hasdiscussion{{/discussion}} {{#canedit}}mod_kanban_canedit{{/canedit}}" id="mod_kanban_card-{{id}}" data-id="{{id}}" data-columnid="{{kanban_column}}">
    <div class="card-body">
        <div class="mod_kanban_card_title card-title">
            <span class="inplaceeditable inplaceeditable-text"{{#canedit}}{{^completed}} data-inplaceeditable="1" data-component="mod_kanban" data-itemtype="card" data-itemid="{{id}}"
        data-value="{{{title}}}" data-type="text"{{/completed}}{{/canedit}}>
                <a href="#" class="quickeditlink aalink"{{#canedit}}{{^completed}} data-inplaceeditablelink="1"{{/completed}}{{/canedit}}>
                {{{title}}}
                </a>
            </span>
        </div>
        <div class="mod_kanban_card_completion text-success btn btn-icon icon-no-margin bg-light p-2">
            {{#pix}} t/check, core, {{#str}} completed, core {{/str}} {{/pix}}
        </div>
        {{>mod_kanban/actionmenucard}}
        <div class="mod_kanban_duedate" data-date="{{duedate}}"{{#duedate}} title="{{#str}} due, mod_kanban {{/str}}: {{#userdate}} {{duedate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}"{{/duedate}}>
        {{#duedate}}
            {{#userdate}} {{duedate}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}
        {{/duedate}}
        </div>
        <div class="mod_kanban_tags">
        </div>
    </div>
    <div class="card-footer mod_kanban_card_footer">
        <div class="mod_kanban_assignees" data-id="{{id}}">
            {{#hasassignees}}
                {{#assignees}}
                    {{>mod_kanban/user}}
                {{/assignees}}
            {{/hasassignees}}
        </div>
        <div class="mod_kanban_description">
            <button class="mod_kanban_discussion_trigger btn btn-icon icon-no-margin p-0" data-toggle="modal" data-target="#mod_kanban_discussion_modal_{{id}}">
            {{#pix}} t/messages, core, {{#str}} showdiscussion, mod_kanban {{/str}} {{/pix}}
            </button>
            <button class="mod_kanban_description_trigger btn btn-icon icon-no-margin p-0" data-toggle="modal" data-target="#mod_kanban_description_modal_{{id}}">
            {{#pix}} e/file-text, core, {{#str}} showdescription, mod_kanban {{/str}} {{/pix}}
            </button>
        </div>
        {{>mod_kanban/descriptionmodal}}
        {{>mod_kanban/discussionmodal}}
        {{>mod_kanban/historymodal}}
    </div>
    {{>mod_kanban/addcard}}
</li>

{{#js}}
{{#canedit}}require(['core/inplace_editable']);{{/canedit}}
require(['mod_kanban/card'], function(component) {
    component.init('mod_kanban_card-{{id}}');
});
{{/js}}