{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kanban/descriptionmodal

    Example context (json):
    {
        "id": 4,
        "kanban_column": 1,
        "title": "Task",
        "hasattachment": false,
        "duedate": 123456789
    }
}}
<div class="mod_kanban_description_modal" id="mod_kanban_description_{{uniqid}}">
    <div>
        {{{description}}}
    </div>

    {{#duedate}}
    <hr>
        {{#str}} due, mod_kanban {{/str}}: {{#userdate}} {{duedate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}
    {{/duedate}}

    {{#hasassignees}}
    <hr>
    {{#str}} assignees, mod_kanban {{/str}}:
    <div class="mod_kanban_assignees" data-id="{{id}}">
        {{#assignees}}
            {{>mod_kanban/user}}
        {{/assignees}}
    </div>
    {{/hasassignees}}


    {{#hasattachment}}
    <hr>
        <p>{{#str}} attachments, mod_kanban {{/str}}:</p>
        {{>mod_kanban/attachmentitems}}
    {{/hasattachment}}
</div>

{{#js}}
require(['mod_kanban/cardnumber'], function(cardnumber) {
    cardnumber.init('mod_kanban_description_{{uniqid}}');
});
{{/js}}
