{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kanban/discussionmodal

    Example context (json):
    {
        "id": 4,
        "kanban_column": 1,
        "title": "Task",
        "hasassignees": false,
        "completed": true,
        "canedit": true
    }
}}
<div class="mod_kanban_discussion_modal modal fade" id="mod_kanban_discussion_modal_{{id}}" data-id="{{id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mod_kanban_loading_status" role="status">
                    {{> core/loading}} {{#str}} loadingdiscussion, mod_kanban {{/str}}
                </div>
                <div class="mod_kanban_discussion" data-id="{{id}}">
                </div>
            </div>
            <div class="modal-footer">
                <textarea id="mod_kanban_discussion_input_{{id}}" class="mod_kanban_discussion_input"></textarea>
                <button type="button" class="mod_kanban_discussion_send btn btn-icon icon-no-margin p-0" data-action="send_discussion_message" data-id="{{id}}">
                {{#pix}} i/sendmessage, core, {{#str}} senddiscussion, mod_kanban {{/str}} {{/pix}}
                </button>
            </div>
        </div>
    </div>
</div>
